<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  Favorite Color1: <input name="favoriteColor1" [(ngModel)]="favoriteColor1" />
  <br />
  <br />
  Favorite Color2:
  <goa-angular-input
    id="favoriteColor2"
    name="favoriteColor2"
    (valueChanged)="onInputChangeEvent($event)"
    [(ngModel)]="favoriteColor2"
  ></goa-angular-input>
</form>

<br />
favoriteColor1 is {{ favoriteColor1 }}
<br />
favoriteColor2 is {{ favoriteColor2 }}

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <br />
  <br />
  <goa-angular-input
    id="favoriteColor3"
    name="favoriteColor3"
    formControlName="favoriteColor3"
  ></goa-angular-input>

  <br />
  Form : {{ this.profileForm.value | json }}
</form>
