<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  Favorite Color1: <input name="favoriteColor1" [(ngModel)]="favoriteColor1" />
  <br />
  <br />
  Favorite Color2:
  <goa-input
    name="favoriteColor2"
    (_change)="onInputChangeEvent($event)"
    [(ngModel)]="favoriteColor2"
  ></goa-input>
</form>

<br />
favoriteColor1 is {{ favoriteColor1 }}
<br />
favoriteColor2 is {{ favoriteColor2 }}

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <br />
  <br />
  <goa-input
    width="100%"
    name="favoriteColor3"
    formControlName="favoriteColor3"
  ></goa-input>

  <br />
  Form : {{ this.profileForm.value | json }}
</form>

<h3>Basic</h3>
<goa-input
  id="foo"
  name="foo"
  value="abcd"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h3>Icons</h3>
<goa-input leadingicon="finger-print"></goa-input>
<goa-input trailingicon="finger-print"></goa-input>

<h3>Icon Buttons</h3>
<goa-input
  trailingicon="finger-print"
  handletrailingiconclick="true"
  (_trailingIconClick)="handleTrailingIconClick()"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h3>Disabled</h3>
<goa-input disabled="true" placeholder="Find by name"></goa-input>

<h3>Error state</h3>
<goa-input error></goa-input>

<h3>Focus</h3>
<goa-input></goa-input>

<h3>Character count</h3>
<goa-input name="firstname" showcounter="true"></goa-input>

<h3>Character count with limit</h3>
<goa-input name="firstname" showcounter="true" maxcharcount="20"></goa-input>
